<h1>Dice Game</h1>
<img src="http://jeffcohenonline.com/dice/<%= @dice1 %>.png">
<img src="http://jeffcohenonline.com/dice/<%= @dice2 %>.png">

<h2>Your goal is <%= @goal %> but you rolled <%= @dice1 + @dice2 %>. You can roll again.</h2>

<form action="/dice/roll">
  <button name="goal" value="<%= @goal %>">ROLL</button>
</form>
